<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" allow-return-values="true">
	<listeners>
		<listener class-name="helperClasses.Listeners"></listener>
	</listeners>

  <test name="Test">
    <classes>
      <class name="base.BasePage"/>
      <class name="testCases.Flight_Test_Cases.Flight_TC_01">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
